.footer{
    @include flex-center;
    flex-direction: column;
    color : $LIGHT-GRAY-COLOR;
    margin-top: 20px;
    padding-bottom: 30px;
    @media only screen and (max-width: $TABLETS) {
        margin-top: 10px;
    }
    &__list{
        &__item{
            color : $LIGHT-GRAY-COLOR;
            margin-right: 40px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}