.navbar{
    background-color: $WHITE-COLOR;
    height: $NAVBAR-HEIGHT;
    padding:5px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0,0,0, .25);
    @media only screen and (max-width: $TABLETS) {
        padding: 5px 50px;
        position: relative;
    }    
    &__logo{
        height: 45px;
        width: 45px;
        border-radius: 50%;
        object-fit: cover;
    }
    &__navigation{
        display: flex;
        align-items: center;
        @media only screen and (max-width: $TABLETS) {
            flex-direction: column;
            padding: 10px;
            background: $WHITE-COLOR;
            position: absolute;
            top: $NAVBAR-HEIGHT;
            right: 20px;
            visibility: hidden;
            pointer-events: none;
            transition: all 0.4s;
            opacity: 0.5;
            box-shadow: 0 3px 6px rgba(0,0,0, .25);
            &.active{
                visibility: visible;
                pointer-events: all;
                right: 20px;
                top: calc($NAVBAR-HEIGHT + 10px);
                opacity: 1;
            }
        }
        &__search{
            &__icon{
                font-size: 15px;
                color: $PRIMARY-COLOR;
            }
        }
        &__list{
            display: flex;
            @media only screen and (max-width: $TABLETS) {
                flex-direction: column;
            }
                &__item{
                    color: $GRAY-COLOR;
                    cursor: pointer;
                    min-width: 80px;
                    width: auto;
                    @media only screen and (max-width: $TABLETS) {
                        margin-top: 5px;
                    }
                    &__link{
                        display: block;
                        padding: 6px 25px;
                        text-align: center;
                        font-size: 14px;
                        font-weight: 500;
                        letter-spacing: 1.5px;
                        &.active{
                            background-color: $PRIMARY-COLOR;
                            color: $WHITE-COLOR;
                            font-weight: 700;
                        }
                    }
                }
        }
    }
    &__hamburger{
        &__icon{
            color: $PRIMARY-COLOR;
            font-size: 20px;
        }
    }
}

