//COLORS
$BACKGROUND-COLOR : #121212;
$ELEMENT-COLOR: #181818;
$HOVER-ELEMENT-COLOR: #282828;
$COMPLEMENT-COLOR : #000;
$PRIMARY-COLOR : rgb(163, 212, 247);
$PRIMARY-COLOR-REDUCED : rgb(163, 212, 247, .25);
$WHITE-COLOR :#fff;
$GRAY-COLOR : #b3b3b3;

$SUPER-COLD-COLOR: #3498db;
$COLD-COLOR: #2980b9;
$AVG-COLOR: #e67e22;
$HOT-COLOR: #e74c3c;

//BREAK-POINTS
$LG-DESKTOP: 1920px;
$MD-DESKTOP: 1280px;
$TABLETS : 1024px;
$S-TABLETS : 895px;
$M-PHONE: 767px;
$S-PHONE : 330px;