//COLORS
$PRIMARY-COLOR : rgb(252, 117, 140);
$PRIMARY-COLOR-REDUCED : rgba(252, 117, 140, .25);
$WHITE-COLOR :#fff;
$GRAY-COLOR : #707070;
$LIGHT-GRAY-COLOR : #C9C9C9;


//BREAK-POINTS
$LG-DESKTOP: 1920px;
$MD-DESKTOP: 1280px;
$TABLETS : 1024px;
$S-TABLETS : 895px;
$M-PHONE: 585px;
$S-PHONE : 330px;

// HEIGHT AND WIDTHS
$NAVBAR-HEIGHT: 70px;