*{
    &::-webkit-scrollbar {
        width: 8px;
      }
      
      &::-webkit-scrollbar-track {
        background-color: $BACKGROUND-COLOR-ALT;
        border: none;
      }
       
      &::-webkit-scrollbar-thumb {
        background-color: $PRIMARY-COLOR;
        border: none;
        outline: none;
      }
}