@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;700&display=swap');
*{
    font-family: 'Mukta', sans-serif;
}
.text-primary {
    color: $PRIMARY-COLOR;
}
.text-gray{
    color: $GRAY-COLOR;
}
.text-super-cold{
    color: $SUPER-COLD-COLOR;
}
.text-cold{
    color: $COLD-COLOR;
}
.text-avg{
    color: $AVG-COLOR;
}
.text-hot{
    color: $HOT-COLOR;
}
