@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;600;700&family=Work+Sans:wght@400;500;600&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Outfit', sans-serif;
}
.text-primary {
    color: $PRIMARY-COLOR;
}
.text-accent{
    color: $ACCENT-COLOR;
}
.text-gray{
    color: $GRAY-COLOR;
}
.text-super-cold{
    color: $SUPER-COLD-COLOR;
}
.text-cold{
    color: $COLD-COLOR;
}
.text-avg{
    color: $AVG-COLOR;
}
.text-hot{
    color: $HOT-COLOR;
}
